//variables
$accent:  #ffad88;
$color: #427590;
$gradebook_border_width: 2px;

//overriding bootstrap colors: (BEFORE bootstrap import) 
$theme-colors: (
  "primary":  #CA6F1E,
  "info": #34495E,  
  "warning": #ffea47, 
  "secondary":#0E6251,
  "success": #7bd095,
  "danger": $accent,
);

$body-bg: #FDFEFE; 
$body-color: $color;

$light: #fdf3d3; //peach 
$border-radius: 10rem;



*{
  font-family: 'Nunito', sans-serif;
}
html{
  height: 100%;
  body {
    display: flex;
    flex-direction: column;
    height: 100%;
    header{
      flex: 0 0 auto;
      a {
        i{
          color: $color;
        }
        span{
          color: $color;
        }
      }
      #navbarNav .navbar-nav li a, #navbarNav .navbar-nav li i{
        color: $color;
        &:hover{
          color: $accent;
        }
      }
    }
    section{
      flex: 1 0 auto;
      .table-container{
        overflow-x:auto;
      }
      .table-hover tbody tr{
        &:hover{
          background-color: #faedff !important;
        }
      }
      #gradebook{
        white-space: nowrap;
        flex-wrap: nowrap;
        border-top: $gradebook_border_width solid #d6d6d6;
        border-bottom: $gradebook_border_width solid #d6d6d6;
        tr{
          .column-left{
            border-left: $gradebook_border_width solid #d6d6d6;
          }
          .column-right{
            border-right: $gradebook_border_width solid #d6d6d6;
          }
        }
      }
    }
    footer{
      flex: 0 0 auto;
    }
  }
}


@import "node_modules/bootstrap/scss/bootstrap";