//variables
$accent:  #ffad88;
$color: #427590;

//overriding bootstrap colors: (BEFORE bootstrap import) 
$theme-colors: (
  "primary":  #CA6F1E,
  "info": #34495E,  
  "warning": #ffea47, 
  "secondary":#0E6251,
  "success": #7bd095,
  "danger": $accent,
);

$body-bg: #FDFEFE; 
$body-color: $color;

$light: #fdf3d3; //peach 
$border-radius: 10rem;

//custom styles
*{
  font-family: 'Nunito', sans-serif;
}
html{
  height: 100%;
  body {
    display: flex;
    flex-direction: column;
    height: 100%;
    header{
      flex: 0 0 auto;
      a {
        i{
          color: $color;
        }
        span{
          color: $color;
        }
      }
      #navbarNav .navbar-nav li a{
        color: $color;
        &:hover{
          color: $accent;
        }
      }
    }
    section{
      flex: 1 0 auto;
      .table-hover tbody tr{
        &:hover{
          background-color: #faedff !important;
        }
      }
    }
    footer{
      flex: 0 0 auto;
    }
  }
}


@import "node_modules/bootstrap/scss/bootstrap";